<!--nav>
  <ul>
    <li routerLinkActive="active"><a routerLink="">HOME</a></li>
    <li routerLinkActive="active"><a routerLink="/clientes">CLIENTES</a></li>
    <li routerLinkActive="active"><a routerLink="/grupos">GRUPOS</a></li>
  </ul>
</nav-->
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    [attr.aria-expanded]="!isCollapsed"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    bs-dropdown-container
    class="collapse navbar-collapse"
    id="navbarNav"
    [ngClass]="{ show: !isCollapsed }"
  >
    <ul class="navbar-nav">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/clientes">Clientes</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/grupos">Grupos</a>
      </li>
    </ul>
  </div>
</nav>
