<h1>Lista de Grupos</h1>
<div class="container">
  <table *ngIf="(grupos | async) as grupos; else loading" >
    <thead>
      <tr>
        <th></th>
        <th>NOME</th>
        <th>ATIVO</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let grupo of grupos">
        <td>
          <a>
            <i-feather name="edit" style="color: gray"> </i-feather>
          </a>
        </td>
        <td>
          <span> {{ grupo.nome }}</span>
        </td>
        <td>
          <span>
            <i-feather name="check-circle" style="color: green"></i-feather>
          </span>
        </td>
        <td>
          <a>
            <i-feather name="trash2" style="color: red"></i-feather>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <span>Carregando Cursos...</span>
</ng-template>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse curso?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
  </div>
</ng-template>
