<h1>Lista de Grupos</h1>

<div class="form">
  <div id="content">
    <h4>Filtros</h4>
    <label>por nome</label>
    <input id="{inputNome}" type="text" [(ngModel)]="searchString" />
    <div>
      <label for="checkAtivo">Apenas os Ativos</label>
      <input id="{checkAtivo}" type="checkbox" [(ngModel)]="searchAtivo" />
    </div>
  </div>
  <button id="button-novo" (click)="novoGrupo()">Novo Grupo</button>
</div>

<div class="card">
  <table *ngIf="grupos | async as grupos; else loading">
    <thead>
      <tr>
        <th></th>
        <th>NOME</th>
        <th>ATIVO</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let grupo of grupos
            | filter: 'nome':searchString
            | filter: 'ativo':searchAtivo
        "
      >
        <td>
          <button (click)="onEdit(grupo)">
            <i-feather id="icon-edit" name="edit"> </i-feather>
          </button>
        </td>
        <td>
          <span> {{ grupo.nome }}</span>
        </td>
        <td>
          <span *ngIf="grupo.ativo">
            <i-feather id="icon-check" name="check-circle"></i-feather>
          </span>
          <span *ngIf="!grupo.ativo">
            <i-feather id="icon-xcircle" name="x-circle"></i-feather>
          </span>
        </td>
        <td>
          <button (click)="onDelete(grupo)">
            <i-feather id="icon-trash2" name="trash2"></i-feather>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #loading>
    <span>Carregando Grupos...</span>
  </ng-template>
</div>
