<h1>{{ title }}</h1>

<div class="card">
  <form [formGroup]="form" #formDir="ngForm">
    <div [hidden]="formDir.submitted">
      <div
        class="cross-validation"
        [class.cross-validation-error]="
          form.errors?.identityRevealed && (form.touched || form.dirty)
        "
      >
        <!--form
          method="post"
          (ngSubmit)="onSubmit()"
          (keydown.enter)="$event.preventDefault()"
          [formGroup]="form"
        -->
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            id="nome"
            name="nome"
            class="form-control"
            placeholder="Nome"
            formControlName="nome"
          />
          <div *ngIf="form.get('nome') as nome">
            <div
              *ngIf="nome.invalid && (nome.dirty || nome.touched)"
              class="alert alert-danger"
            >
              Nome é obrigatório
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="cpf">CPF</label>
          <input
            type="text"
            id="cpf"
            name="cpf"
            class="form-control"
            placeholder="CPF"
            formControlName="cpf"
            mask="CPF_CNPJ"
          />
          <div *ngIf="form.get('cpf') as cpf">
            <div
              *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)"
              class="alert alert-danger"
            >
              CPF é obrigatório
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input
            type="text"
            id="telefone"
            name="telefone"
            class="form-control"
            placeholder="Telefone com DDD"
            formControlName="telefone"
            mask="(00) 0000-0000||(00) 0 0000-0000"
            #telefone
          />
          <div *ngIf="form.get('telefone') as telefone">
            <div
              *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)"
              class="alert alert-danger"
            >
              Telefone com DDD
            </div>
          </div>
        </div>
        
        <div class="form-group selectors">
          <label for="ativo">Ativo</label>
          <select
            type="text"
            id="ativo"
            name="ativo"
            class="form-control"
            formControlName="ativo"
          >
            <option [ngValue]="true">Ativo</option>
            <option [ngValue]="false">Inativo</option>
          </select>
        </div>

        <div class="form-group selectors" *ngIf="grupos; else spinner">
          <label for="grupos">Grupo</label>
          <select
            type="text"
            id="grupoId"
            name="grupoId"
            class="form-control"
            formControlName="grupoId"
          >
            <option *ngFor="let grupo of grupos" [ngValue]="grupo.grupoId">
              {{ grupo.nome }}
            </option>
          </select>
        </div>

        <div class="buttons">
          <button (click)="voltarClicked()">Voltar</button>

          <button type="submit" [disabled]="form.invalid || loading">
            <span>Salvar</span>
          </button>
          <div *ngIf="!loading; else spinner"></div>
        </div>
        <div *ngIf="!err; else error">{{ err }}</div>
      </div>
    </div>
  </form>
</div>

<ng-template #spinner>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>

<ng-template #error>
  <span>{{ err }}</span>
</ng-template>
