<h1>{{ title }}</h1>

<div class="card">
  <form method="post" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        id="nome"
        name="nome"
        class="form-control"
        placeholder="Nome"
        formControlName="nome"
      />
    </div>

    <div class="form-group">
      <label for="ativo">Ativo</label>
      <select
        type="ativo"
        id="ativo"
        name="ativo"
        class="form-control"
        formControlName="ativo"
      >
        <option [ngValue]="true">Ativo</option>
        <option [ngValue]="false">Inativo</option>
      </select>
    </div>
    <div class="buttons">
      <button (click)="voltarClicked()">Voltar</button>
      <button type="submit" [disabled]="form.invalid">
        {{ salvarTexto }}
      </button>
    </div>
  </form>
</div>

<ng-template #loading>
  <span>Carregando...</span>
</ng-template>

<ng-template #erro>
  <span>{{ err }}</span>
</ng-template>
