h1 {
  padding: 20px;
  color: #fff;
}
.card {
  display: flex;
  padding: 0px 10px;
  max-width:450px;
  form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background: #fff;
    border-radius: 5px;
    padding:10px;

    input[type="text"] {
      width: 100%;
      border-radius: 8px;
      height: 30px;
    }
    select {
      width: 100px;
      border-radius: 4px;
      background: none;
    }
  }
  .buttons {
    align-self: flex-end;

    button {
      background: #fff;
      margin-right: 5px;
      border-radius: 40px;
      width: 150px;
      height: 30px;
      border-color: #0073aa;
      color: rgb(19, 19, 19);
      transition: background 0.2s;
      &:hover {
        background: #3b9eff;
      }
    }
    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
      pointer-events: all !important;
    }
  }
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 10px;
}
.selectors {
  max-width: 40%;
}
