<h1>Lista de Clientes</h1>

<div class="form">
  <div id="content">
    <h4>Filtros</h4>
    <label>por nome</label>
    <input id="{inputNome}" type="text" [(ngModel)]="searchString" />
    <div>
      <label for="checkAtivo">Apenas os Ativos</label>
      <input id="{checkAtivo}" type="checkbox" [(ngModel)]="searchAtivo" />
    </div>
  </div>
  <button id="button-novo" (click)="novoCliente()">Novo Cliente</button>
</div>

<div class="card">
  <div class="catchError" *ngIf="!err; else erro"></div>
  <table *ngIf="clientes | async as clientes; else loading">
    <thead>
      <tr>
        <th></th>
        <th>NOME</th>
        <th>CPF</th>
        <th>TELEFONE</th>
        <th>DATA DO CADASTRO</th>
        <th>GRUPO</th>
        <th>ATIVO</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let cliente of clientes
            | filter: 'nome':searchString
            | filter: 'ativo':searchAtivo
        "
      >
        <td>
          <button (click)="onEdit(cliente)">
            <i-feather id="icon-edit" name="edit"> </i-feather>
          </button>
        </td>
        <td>
          <span> {{ cliente.nome }}</span>
        </td>
        <td>
          <span> {{ cliente.cpfView }}</span>
        </td>
        <td>
          <span> {{ cliente.telefoneView }}</span>
        </td>
        <td>
          <span> {{ cliente.dataCadastro | date: "dd/MM/yyyy" }}</span>
        </td>
        <td>
          <span> {{ cliente.grupoView.nome }}</span>
        </td>
        <td>
          <span *ngIf="cliente.ativo">
            <i-feather id="icon-check" name="check-circle"></i-feather>
          </span>
          <span *ngIf="!cliente.ativo">
            <i-feather id="icon-xcircle" name="x-circle"></i-feather>
          </span>
        </td>
        <td>
          <button (click)="onDelete(cliente)">
            <i-feather id="icon-trash2" name="trash2"></i-feather>
            <div class="catchError" *ngIf="!err; else erro"></div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #erro>
  <span>Erro! {{ err }}</span>
</ng-template>

<ng-template #loading>
  <span>Carregando Clientes...</span>
</ng-template>
